@charset "utf-8";

/*
   Practical 6A  
   Filename:         eas_tables2.css

*/


/* Table Styles */

table.programs {
    background: white;
    border: 15px outset rgb(151, 151, 151);
    border-collapse: collapse;
    font-family: Arial, Verdana, sans-serif;
    width: 100%;
}

table.programs tr {
    height: 25px;
}

table.programs th,
table.programs td {
    border: 1px solid gray;
    padding: 5px;
    vertical-align: top;
}


/* Table Caption Styles */

table.programs caption {
    caption-side: bottom;
    text-align: center;
}


/* Table Column Styles */

col.timeColumn {
    background: rgb(215, 161, 151);
    width: 10%;
}

col.wDayColumns {
    background: rgb(230, 188, 125);
    width: 11%;
}

col.wEndColumns {
    background: rgb(177, 205, 243);
    width: 17.5%;
}


/* Table Header Styles */

table.programs thead {
    color: white;
    background-color: rgb(177, 112, 16);
}

table.programs thead th:first-of-type {
    color: white;
    background-color: rgb(184, 38, 38);
}

table.programs thead th:nth-of-type(7),
table.programs thead th:nth-of-type(8) {
    color: white;
    background-color: rgb(0, 143, 153);
}


/* Table Footer Styles */

table.programs tfoot {
    color: white;
    background-color: black;
}